/* Custom Styles */

body {
  background-color: #f4f5f7;
  background-image: linear-gradient(to top, rgba(0,0,0,0.02), rgba(0,0,0,0)),
                    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"><path fill="%239C92AC" fill-opacity="0.05" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"></path></svg>');
}

.intro-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.intro-text {
  flex-grow: 1;
}

.intro-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 2rem;
}

#interests-graph {
    height: 300px;
    border: 1px solid var(--global-border-color);
    border-radius: 4px;
    margin-bottom: 1rem;
} 